@media (max-width: 768px) {
    *p, *span {
        font-size: 1rem;
    }

    .picture {
        clip-path: none !important;
        width: 100vw !important;
    }

    .greeting {
        padding-top: 0 !important;
    }
}