.experience-timeline .customized-timeline {
  margin-top: 2rem;
}

.experience-timeline .experience-marker {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
  font-size: large;
  font-weight: bold;
}

.experience-timeline .p-timeline-event-content,
.experience-timeline .p-timeline-event-opposite {
  line-height: 1;
  align-self: center;
}

@media (max-width: 768px) {
  .experience-timeline .p-timeline-event-opposite {
    width: 0;
  }
}

@media screen and (max-width: 960px) {
  .experience-timeline .p-timeline-event-opposite {
    display: none;
  }
  .experience-timeline .customized-timeline .p-timeline-event:nth-child(even) {
    flex-direction: row !important;
  }
  .experience-timeline .customized-timeline .p-timeline-event:nth-child(even) .p-timeline-event-content {
    text-align: left !important;
  }
  .experience-timeline .customized-timeline .p-timeline-event-opposite {
    flex: 0;
  }
  .experience-timeline .customized-timeline .p-card {
    margin-top: 1rem;
  }
  .inner-logo {
    display: flex !important;
  }
}